$dark-purple: #24225c


#footer
  background: #6B6DA9
  background-image: none

  #final-footer
    background-color: $dark-purple

#main-nav.navbar

  #navbar-collapse
    color: $dark-purple

    ul.navbar-nav
      li a
        &:hover
          background: $dark-purple


body.is-playing
  background-color: #EFEBF8
body
  background-color: #EFEBF8

#home-view #jumbotron-container-fluid .container .well.text-center
  display: none

#home-view #jumbotron-container-fluid.alt-image
  .container
    h1.slogan
      margin-top: 20vh
      margin-bottom: 20vh
      text-align: center
      font-weight: bold
    #learn-more-row
      maring-top: 0

.style-flat #main-nav.navbar a.navbar-brand:hover
  background: transparent

#auth-modal
  .modal-dialog
    background: #fff
    border: 1px solid #EFEBF8

    .modal-content
      img
        display: none
      h1
        color: $dark-purple
        text-shadow: 0 0 0
      #close-modal
        background: $dark-purple
      .extra-pane
        background-image: none

.level-view
  #level-loading-view
    .left-wing
      background-image: none
    .right-wing
        background-image: none

#problem-alert-view.problem-alert
  border-image: none !important
  background: $dark-purple !important

#playback-view .scrubber .progress .progress-bar .scrubber-handle
  width: 20px !important
  height: 20px !important
  background: $dark-purple !important
  border-radius: 50% !important
  border: 1px solid #fff

#level-loading-view .left-wing, #level-loading-view .right-wing
  background-image: none !important
  background: $dark-purple !important
