#footer
  background: #6B6DA9
  background-image: none

  #final-footer
    background-color: #24225C

#main-nav.navbar

  #navbar-collapse
    color: #24225C

    ul.navbar-nav
      li a

      &:hover
        background: #24225C


body.is-playing
  background-color: #EFEBF8
body
  background-color: #EFEBF8
