$dark-purple: #24225c

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
  color:#fefefe

#footer
  background: #6B6DA9
  background-image: none

  #final-footer
    background-color: $dark-purple

#main-nav.navbar

  #navbar-collapse
    color: $dark-purple

    ul.navbar-nav
      li a
        &:hover
          background: $dark-purple


body.is-playing
  background-color: #EFEBF8
body
  background-color: #EFEBF8

#home-view #jumbotron-container-fluid .container .well.text-center
  display: none

#home-view #jumbotron-container-fluid.alt-image
  .container
    h1.slogan
      margin-top: 20vh
      margin-bottom: 20vh
      text-align: center
      font-weight: bold
    #learn-more-row
      maring-top: 0

.style-flat #main-nav.navbar a.navbar-brand:hover
  background: transparent

#auth-modal
  .extra-pane
    background-image: none !important
    .switch-explanation
      text-shadow: 0 0 0 !important
      color: $dark-purple !important

  .modal-dialog
    background: #fff
    border: 1px solid #EFEBF8

    .modal-content
      img
        display: none
      h1
        color: $dark-purple
        text-shadow: 0 0 0
      #close-modal
        background: $dark-purple
      .extra-pane
        background-image: none

.level-view
  #level-loading-view
    .left-wing
      background-image: none
    .right-wing
        background-image: none

#problem-alert-view.problem-alert
  border-image: none !important
  background: $dark-purple !important

#playback-view .scrubber .progress .progress-bar .scrubber-handle
  width: 20px !important
  height: 20px !important
  background: $dark-purple !important
  border-radius: 50% !important
  border: 1px solid #fff

#level-loading-view .left-wing, #level-loading-view .right-wing
  background-image: none !important
  background: $dark-purple !important
#spell-view span.code-background
  border-width: 0 !important

#thang-hud
  height: 85px !important
  .wood-background
    background: #24225C !important

#course-victory-modal
  .modal-dialog
    .background-wrapper
      border-image: none !important
      .modal-content
        box-shadow: 0 0 0
        .modal-body
          background: #24225C
          padding-bottom: 20px
          img
            display: none

.well-parchment
    border: 0 solid #fff !important
    background: #EFEBF8 !important

.loading-container.preview
  img
    display: none
div#editor-level-home-view.site-chrome.show-background
    background: none
    #site-nav
      background: none
      #nav-logo
        display: none
    #site-content-area
      background: #fefefe
      border: 3px solid #fff
      #new-model-button
        background-image: none
        background-color: $dark-purple
#editor-level-view
    .navbar-default
      background-color: $dark-purple
      background-image: none
      .navbar-header
        border-left: 1px solid white
        border-right: 1px solid white
        background: purple
div#site-footer
  display: none

.property-entry-item-group
  img.item-image
    display: none
  .spell-palette-entry-view
    margin-left: 2px

.level-content #spell-palette-view .container .right .scrollArea
  background: #DAD7F8
  border-color: transparent
  margin-left: 10px
